<!--EasyRent - 20251W87 -->


{% extends "base.html" %} {% block title %}Property{% endblock %} {% block css
%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/meetings.css') }}"
/>
<!-- Content visible only to tenant users. -->
{% endblock %} {% block content %} {% if user_type == "Tenant" or user_type ==
"tenant" %}
<div
  id="meeting-scheduler"
  class="py-10 bg-white min-h-screen flex items-center justify-center"
>
  <!-- Schedule a Meeting. -->
  <div class="bg-white w-full max-w-3xl py-0 px-8">
    <div class="text-center mb-8">
      <h1 class="text-4xl font-extrabold text-gray-800 mb-2">
        Schedule a Meeting
      </h1>
      <p class="text-gray-600">
        Select an available date and time for your meeting:
      </p>
    </div>

    <div class="mb-6">
      <label
        for="liked-properties"
        class="block text-lg font-semibold text-gray-700 mb-2"
        >Select Property:</label
      >
      <select
        id="liked-properties"
        class="w-full p-3 border border-gray-200 rounded-md shadow-sm"
      >
        <!-- Dropdown to select a property from the tenant's properties. -->
        <option value="">Select Property</option>
        {% for property in properties %}
        <option value="{{property.id}}">{{property.property_name}}</option>
        {% endfor %}
      </select>
    </div>

    <div id="calendar-container" class="mb-6 hidden">
      <div class="calendar grid grid-cols-7 gap-2"></div>
    </div>

    <div id="time-slot-container" class="hidden mb-6">
      <h2 class="text-xl font-semibold text-gray-700 mb-4">
        Select a Time Slot:
      </h2>
      <div id="time-slots-container" class="mt-4 space-y-4"></div>
    </div>
  </div>
</div>
{% else %}
<div
  class="text-center max-w-screen-lg mx-auto my-6 p-6 bg-white fade-in px-4 md:px-12 lg:px-20 h-[80vh]	flex justify-center items-center"
>
  <!-- Content for non-tenants or unauthenticated users. -->
  <p>Welcome, guest! Please log in to access your dashboard.</p>
</div>
{% endif %} {% block js %}
<script src="{{url_for('static',filename='js/meetings.js')}}"></script>
{% endblock %} {% endblock %}
